/* ============================================
    FONTS
   ============================================ */

/* ============================================
    BASE STYLES
   ============================================ */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400; /* !needs change */
  font-size: 16px; /* !needs change */
  line-height: 1.375; /* !needs change (1.42 default - from Bootstrap)*/
  font-family: "Roboto", "Arial", sans-serif; /* !needs change */
  color: #fff; /* !needs change */

  background-color: #849d8f; /* !needs change */
}

.link {
  color: #fff; /* !needs change */
}

.link--main:hover,
.link--main:focus {
  color: #ffbc9e;
}

.icon {
  fill: currentColor;
}

.btn {
  font: inherit; /* потому что <button> и <input> по умолчанию не наследует шрифты */
  text-align: center;
  vertical-align: middle;
  border: none;
}

/* класс для визуального скрытия элементов, кототые должны остаться на странице для семантики */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
}

.clearfix::before,
.clearfix::after {
  content: "";

  display: table;
}

.clearfix::after {
  clear: both;
}

/* Layout
   ============================================ */
.page-wrapper {
  min-height: 100%; /* для прибивания footer к низу страницы */
}

.page-wrapper::after {
  content: "";

  display: block;
  height: 100px; /* для прибивания footer к низу страницы (пустой элемент на высоту footer) */
}

/* class for centering page content */
.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 25px;
}

/* ============================================
    HEADER
   ============================================ */


/* ============================================
    MAIN CONTENT
   ============================================ */


/* About
   ============================================ */

/* ============================================
    MEDIA QUERIES
   ============================================ */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
