/*=============== FONTS ===============*/

/*=============== BASE STYLES ===============*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400; /* !needs change */
  font-size: 16px; /* !needs change */
  line-height: 1.375; /* !needs change (1.42 default - from Bootstrap)*/
  font-family: "Roboto", "Arial", sans-serif; /* !needs change */
  color: #fff; /* !needs change */

  background-color: #849d8f; /* !needs change */
}

.link {
  line-height: 1.125;
  color: #fff; /* !needs change */
  text-decoration: none;
}

.link--main {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.link--main:hover,
.link--main:focus,
.link--main:active {
  color: #ffbc9e;

  border-bottom-color: #ffbc9e;
}

.icon {
  fill: currentColor;
}

.btn {
  display: inline-block;
  padding: 10px 20px;

  font: inherit; /* потому что <button> и <input> по умолчанию не наследует шрифты */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  text-decoration: none;

  background-image: linear-gradient( 90deg, #f26843 0%, #e74b36 100%);
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 2px 0 rgb(172, 16, 0, 0.64);
}

.btn:hover {
  background-image: linear-gradient( 90deg, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.btn:active {
  color: #fceeec;

  background-image: linear-gradient( 90deg, #d74632 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

/* класс для визуального скрытия элементов, кототые должны остаться на странице для семантики */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
}

.clearfix::before,
.clearfix::after {
  content: "";

  display: table;
}

.clearfix::after {
  clear: both;
}

/**************** Layout ***************/
.page-wrapper {
  min-height: 100%; /* для прибивания footer к низу страницы */
}

.page-wrapper::after {
  content: "";

  display: block;
  height: 100px; /* для прибивания footer к низу страницы (пустой элемент на высоту footer) */
}

/* class for centering page content */
.container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.5%;
}

/*=============== HEADER ===============*/
.page-header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2.5%;
}

/**************** Main navigation ***************/
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__list--lvl-1 {
  width: 385px;
}

.main-nav__list--lvl-2 {
  flex-direction: column;
}

.logo__img {
  width: 154px;
  height: 64px;
}

/**************** User block ***************/
.user-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/**************** Schedule ***************/
.schedule {
  text-align: right;
}

.schedule__time {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-size: 14px;
  line-height: 1.14285;
}

.schedule__phone {
  margin: 0;
  padding: 0;

  font-size: 22px;
  line-height: 1.0909;
}

/*=============== PAGE CONTENT ===============*/
.page-content {
  max-width: 1200px;
  margin: 0 auto;
}

.page-content__section {
  margin-bottom: 35px;
}

/**************** Promo slider ***************/
.promo-slider__slide {
  min-width: 670px;

  text-align: center;
}
.promo-slider__title {
  font-size: 60px;
}

.btn--promo-slider {
  padding: 10px 40px;

  font-size: 32px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

/**************** Promo cards ***************/
.promo-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.promo-cards__item {
  box-sizing: border-box;
  width: 48.9%;
  padding: 15px 15px 25px;

  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 15px;
}

.promo-cards__item--raspberry {
  background-color: #601526;
  background-image: url("../img/bg-promo-card-1.jpg");
}

.promo-cards__item--chocolate {
  background-color: #3e2418;
  background-image: url("../img/bg-promo-card-2.jpg");
}

.promo-cards__title {
  margin: 0 0 15px;

  font-size: 35px;
  line-height: 1.17142;
}

.promo-cards__text {
  margin: 0 0 50px;

  font-size: 18px;
  line-height: 1.2222;
}

.promo-cards__btn-wrapper {
  text-align: right;
}

/**************** Promo hits ***************/
.promo-hits__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-item {
  width: 22.22%;
}

.product-item__img-wrap {
  width: 267px;
  height: 267px;
  overflow: hidden;

  border-radius: 50%;
}

.product-item__img {
  display: block;
  width: 100%;
  height: auto;
}
.product-item__cost {
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.product-item__measure {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.product-item__title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.product-item__show-btn-wrapper {
  text-align: center;
}

/**************** Shop features ***************/
.shop-features {
  padding: 25px 15px 20px;

  color: #323232;

  background-color: #eadcbf;
  background-image: url("../img/bg-features.jpg");
  background-repeat: repeat;
  background-position: 0 0;
  border-radius: 15px;
}

.shop-features__title {
  margin: 0 0 10px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
}

.shop-features__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-features__item {
  position: relative;

  width: 49%;
}

.shop-features__icon {
  position: absolute;
}
.shop-features__text {
  margin: 0;
  padding: 10px 30px 10px 60px;
}

/**************** Blog post and subscribe ***************/
.blog-post-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog-post-subscribe__item {
  box-sizing: border-box;
  width: 48.9%;

  background-position: 0 0;
  border-radius: 15px;
}

.blog-post {
  padding: 25px 15px 70px;

  line-height: 1.25;
  color: #323232;

  background-color: #fff;
  background-image: url("../img/blog-post-bg.jpg");
}

.blog-post__caption {
  margin: 0 0 5px;
}

.blog-post__title {
  max-width: 290px;
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  background-color: rgba(255, 255, 255, 0.5);
}

.blog-post__link {
  color: #323232;
  text-decoration: underline;
}

.subscribe {
  padding: 5px;

  color: #5a5a5a;

  background-color: #92cdff;
  background-image: repeating-linear-gradient(135deg, #fff 5px, #fff 10px, #92cdff 10px, #92cdff 15px, #fe9e90 15px, #fe9e90 20px);
}

.subscribe__inner {
  padding: 15px 20px 60px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe__text {
  line-height: 1.25;
}
/**************** Contacts ***************/
.contacts {
  position: relative;

  margin-bottom: 0;
}

.contacts__data-wrapper {
  margin-right: 2.5%;
  padding: 0 2.5%;
}

.contacts__data {
  position: absolute;
  top: 60px;
  right: 0;
  width: 255px;
  padding: 15px 22px 30px;

  color: #323232;

  background-color: #fff;
  border-radius: 15px;
}

.contacts__text {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.42857;
}

.contacts__address {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 1.33333;
}

.contacts__phone {
  display: inline-block;
  margin-top: 5px;

  font-size: 18px;
  line-height: 1.22222;
}

.btn--contacts {
  display: block;
}

.contacts__img {
  display: block;
  width: 100%;
  height: auto;
}

/*=============== CATALOG ===============*/
.catalog__title {
  font-size: 35px;
  line-height: 1.17142;
}
/**************** Breadcrumbs ***************/
.breadcrumbs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 1.142857;
}

.breadcrumbs__link--current {
  border-bottom: none;
}

.breadcrumbs__link--current:hover,
.breadcrumbs__link--current:focus {
  color: #fff;
}
/**************** Filters ***************/
.filters__item {
  border: none;
}

.filters__caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142857;
}

.filters__field {
  padding: 7px 25px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filters__label {
  font-weight: 500;
  line-height: 1.125;
}

.filters__btn {
  padding: 7px 25px;

  font-weight: 500;
  line-height: 1.125;
  color: #fff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  border-radius: 20px;
}

.filters__btn:hover {
  color: #323232;

  background-color: #fff;
  cursor: pointer;
}

.filters__btn:active {
  padding: 9px 27px;

  background-color: rgb(237, 237, 237);
  border: none;
  box-shadow: inset 0 2px 1px 0 #696969;
}

/**************** Products ***************/
.catalog__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__list .product-item {
  margin-bottom: 35px;
}

/**************** Pagination ***************/
.pagination {
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: right;
}

.pagination__item {
  display: inline-block;

  text-align: center;
}

.pagination__link {
  display: inline-block;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin-right: 15px;

  line-height: 25px;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;

  border-radius: 50%;
}

.pagination__link:last-child {
  margin-right: 0;
}

.pagination__link:not(.pagination__link--dir):hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.pagination__link:not(.pagination__link--dir):active {
  color: #000;

  background-color: #fff;
}

.pagination__item--disabled .pagination__link {
  color: rgba(255, 255, 255, 0.2);

  cursor: default;
}

.pagination__item--current .pagination__link {
  color: #000;

  background-color: #fff;
  cursor: default;
}

.pagination__item--current .pagination__link:hover {
  background-color: #fff;
}



.pagination__link--dir {
  padding-bottom: 2px;
}
/*=============== FOOTER ===============*/
.page-footer {
  margin-top: -100px;
  padding-top: 20px;
}

.page-footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5%;
}

/**************** Social ***************/
.social__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  display: inline-block;
  margin-right: 10px;

  font-size: 0;
}

.social__item:last-child {
  margin-right: 0;
}

.social__icon {
  display: block;

  border: 2px solid #c2cec7;
  border-radius: 50%;

  fill: #e6ebe9;
}

.social__link:hover .social__icon {
  fill: #fff;
}

.social__link:active .social__icon {
  border-color: #dae2de;

  fill: #e9e9e9;
}

/**************** Extra navigation ***************/
.extra-nav {
  width: 330px;
}

.extra-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.extra-nav__item {
  width: 50%;
}

.extra-nav__item--suppliers {
  position: relative;

  font-weight: bold;
}

.extra-nav__icon {
  position: absolute;
  top: 6px;
  left: -20px;
}

.extra-nav__link {
  font-size: 13px;
  line-height: 1.3846;
}
/**************** Copyright ***************/
.copyright__img {
  width: 120px;
  height: 38px;
  margin-left: -7px;
}
.copyright__text {
  margin: 0;

  font-size: 12px;
  line-height: 1.5;
}
/*=============== MEDIA QUERIES ===============*/
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
