/*=============== FONTS ===============*/

/*=============== BASE STYLES ===============*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400; /* !needs change */
  font-size: 16px; /* !needs change */
  line-height: 1.375; /* !needs change (1.42 default - from Bootstrap)*/
  font-family: "Roboto", "Arial", sans-serif; /* !needs change */
  color: #fff; /* !needs change */

  background-color: #849d8f; /* !needs change */
}

/* что бы контентные картинки не вылезали за ширину родительского контейнера */
img {
  max-width: 100%;
  height: auto;
}

.link {
  line-height: 1.125;
  color: #fff; /* !needs change */
  text-decoration: none;
}

.link--main {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  transition: color 0.3s, border-bottom-color 0.3s;
}

.link--main:hover,
.link--main:active {
  color: #ffbc9e;

  border-bottom-color: #ffbc9e;
}

.icon {
  fill: currentColor;
}

.btn {
  display: inline-block;
  padding: 10px 20px;

  font: inherit; /* потому что <button> и <input> по умолчанию не наследует шрифты */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  text-decoration: none;

  background-color: #d07058;
  background-image: linear-gradient( 90deg, #f26843 0%, #e74b36 100%);
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 2px 0 rgb(172, 16, 0, 0.64);
  cursor: pointer;

  transition: background-image 0.3s;
}

.btn:hover {
  background-image: linear-gradient( 90deg, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px 0 rgb(172, 16, 0);
}

.btn:active {
  background-image: linear-gradient( 90deg, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px 0 rgb(172, 16, 0);
}

/* класс для визуального скрытия элементов, кототые должны остаться на странице для семантики */
.visually-hidden:not(:focus):not(:active),
.promo-slider__toggle,
.fat-filter__input,
.fillers-filter__input {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.clearfix::before,
.clearfix::after {
  content: "";

  display: table;
}

.clearfix::after {
  clear: both;
}

/**************** Layout ***************/
.page-wrapper {
  min-height: 100%; /* для прибивания footer к низу страницы */

  transition: background-image 0.5s, background-color 0.5s;
}

.page-wrapper--index {
  min-width: 940px;

  background-image: url("../img/slider-bg-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.page-wrapper::after {
  content: "";

  display: block;
  height: 100px; /* для прибивания footer к низу страницы (пустой элемент на высоту footer) */
}

/* class for centering page content */
.container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.5%;
}

/*=============== HEADER ===============*/
.page-header__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 2.5% 0;
}

.page-header__col--right {
  position: relative;
  padding-top: 18px;
}
/**************** Main navigation ***************/
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin-right: 8px;
}

.logo__img {
  width: 154px;
  height: 64px;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 385px;
  margin: 0;
  padding: 0 0 0 0;

  list-style: none;
}

.main-nav__item {
  margin: 0;
  padding: 0;
}

.main-nav__item--has-child {
  position: relative;
}

.main-nav__link {
  display: inline-block;
  margin: 7px 14px;

  font-weight: 700;

  transition: background-color 0.3s;
}

.main-nav__item--current .main-nav__link,
.main-nav__item--has-child:hover .main-nav__link,
.main-nav__item--has-child:focus .main-nav__link,
.main-nav__link:hover,
.main-nav__link:focus {
  margin: 0;
  padding: 7px 14px;

  border-bottom: none;
  border-radius: 30px;
}

.main-nav__item--current .main-nav__link {
  color: #fff;

  background-color: #d07058;
}

.main-nav__item--has-child:hover .main-nav__link,
.main-nav__item--has-child:focus .main-nav__link,
.main-nav__link:hover,
.main-nav__link:focus {
  color: #000;

  background-color: #f8f7f4;
}

.main-nav__link:active {
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.004);
}

.main-nav__sub-list-wrapper {
  position: absolute;
  top: 33px;
  left: -9999px;
  z-index: 1;

  opacity: 0;

  transition: opacity 0.3s, top 0.3s;
}

.main-nav__sub-list-wrapper::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;

  display: block;
  height: 5px;
}

.main-nav__item--has-child:hover .main-nav__sub-list-wrapper {
  top: 38px;
  left: -7px;

  opacity: 1;
}

.main-nav__sub-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 143px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  list-style: none;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.main-nav__sub-title,
.main-nav__sub-link {
  font-size: 14px;
  line-height: 1.1428;
  color: #323232;
}

.main-nav__sub-title {
  margin: 0 5px;
  padding: 10px 15px 13px;

  font-weight: 700;

  border-bottom: 1px solid #d1d0ce;
  cursor: default;
}

.main-nav__sub-link {
  display: block;
  padding: 8px 20px;
}

.main-nav__sub-item:last-child .main-nav__sub-link {
  padding-bottom: 16px;
}

.main-nav__sub-link:hover {
  background-color: #fbded7;
}

.main-nav__sub-link:active {
  background-color: #fbded7;
}

.main-nav__sub-item--current .main-nav__sub-link {
  color: #fff;

  background-color: #d07058;
  cursor: default;
}

/**************** User block ***************/
.user-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.user-block__item {
  margin-right: 10px;
}

.user-block__item:last-child {
  margin-right: 0;
}

.user-block__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  padding: 7px 7px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;

  transition: color 0.3s, background-color 0.3s;
}

.user-block__link--login {
  padding-left: 10px;
  padding-right: 20px;
}

.user-block__link--cart {
  padding-left: 10px;
  padding-right: 25px;
}

.user-block__link:hover {
  color: #323232;
  background-color: #fff;
}


.user-block__text {
  margin-left: 10px;
}

.user-block__popup {
  display: none; /* временно */
}

/**************** Schedule ***************/
.schedule {
  position: absolute;
  bottom: -40px;
  right: 0;
  text-align: right;
}

.schedule__time {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-size: 14px;
  line-height: 1.14285;
}

.schedule__phone {
  margin: 0;
  padding: 0;

  font-size: 22px;
  line-height: 1.0909;
}

/*=============== PAGE CONTENT ===============*/
.page-content {
  max-width: 1200px;
  margin: 0 auto;
}

.page-content__section {
  margin-bottom: 35px;
}

/**************** Promo slider ***************/
.promo-slider {
  position: relative;

  padding-top: 200px;
}

.promo-slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slider__item {
  display: none; /* что бы скрыть слайды */

  text-align: center;
}
.promo-slider__title {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 35px;

  font-weight: 700;
  font-size: 60px;
  line-height: 1;
}

.promo-slider__btn {
  padding: 10px 40px;

  font-size: 32px;
  line-height: 1.375;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.promo-slider__controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 1;

  font-size: 0;
}

.promo-slider__control {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

#promo-slide-1:checked ~ .page-wrapper--index {
  background-color: #849d8f;
  background-image: url("../img/slider-bg-1.png");
}

#promo-slide-1:checked ~ .page-footer--index {
  background-color: #849d8f;
}

#promo-slide-2:checked ~ .page-wrapper--index {
  background-color: #8996a6;
  background-image: url("../img/slider-bg-2.png");
}

#promo-slide-2:checked ~ .page-footer--index {
  background-color: #8996a6;
}

#promo-slide-3:checked ~ .page-wrapper--index {
  background-color: #9d8b84;
  background-image: url("../img/slider-bg-3.png");
}

#promo-slide-3:checked ~ .page-footer--index {
  background-color: #9d8b84;
}

#promo-slide-1:checked ~ .page-wrapper--index #slide-1,
#promo-slide-2:checked ~ .page-wrapper--index #slide-2,
#promo-slide-3:checked ~ .page-wrapper--index #slide-3 {
  display: block; /* что бы показать слайд:checked */
}

#promo-slide-1:checked ~ .page-wrapper--index .promo-slider__control--first,
#promo-slide-2:checked ~ .page-wrapper--index .promo-slider__control--second,
#promo-slide-3:checked ~ .page-wrapper--index .promo-slider__control--third {
  background-color: #fff;
}

/**************** Promo cards ***************/
.promo-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.promo-cards__item {
  box-sizing: border-box;
  width: 48.9%;
  padding: 15px 15px 25px;

  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 15px;
}

.promo-cards__item--raspberry {
  background-color: #601526;
  background-image: url("../img/bg-promo-card-1.jpg");
}

.promo-cards__item--chocolate {
  background-color: #3e2418;
  background-image: url("../img/bg-promo-card-2.jpg");
}

.promo-cards__title {
  margin: 0 0 15px;

  font-size: 35px;
  line-height: 1.17142;
}

.promo-cards__text {
  margin: 0 0 50px;

  font-size: 18px;
  line-height: 1.2222;
}

.promo-cards__btn-wrapper {
  text-align: right;
}

/**************** Promo hits ***************/
.promo-hits__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-item {
  width: 22.22%;
}

.product-item__img-wrap {
  width: 267px;
  height: 267px;
  overflow: hidden;

  border-radius: 50%;
}

.product-item__img {
  display: block;
}
.product-item__cost {
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.product-item__measure {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.product-item__title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.product-item__btn-wrapper {
  text-align: center;
}

/**************** Shop features ***************/
.shop-features {
  padding: 25px 15px 20px;

  color: #323232;

  background-color: #eadcbf;
  background-image: url("../img/bg-features.jpg");
  background-repeat: repeat;
  background-position: 0 0;
  border-radius: 15px;
}

.shop-features__title {
  margin: 0 0 10px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
}

.shop-features__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-features__item {
  position: relative;

  width: 49%;
}

.shop-features__icon {
  position: absolute;
}
.shop-features__text {
  margin: 0;
  padding: 10px 30px 10px 60px;
}

/**************** Blog post and subscribe ***************/
.blog-post-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog-post-subscribe__item {
  box-sizing: border-box;
  width: 48.9%;

  background-position: 0 0;
  border-radius: 15px;
}

.blog-post {
  padding: 25px 15px 70px;

  line-height: 1.25;
  color: #323232;

  background-color: #fff;
  background-image: url("../img/blog-post-bg.jpg");
}

.blog-post__caption {
  margin: 0 0 5px;
}

.blog-post__title {
  max-width: 290px;
  margin: 0 0 10px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;

  background-color: rgba(255, 255, 255, 0.5);
}

.blog-post__link {
  color: #323232;
  text-decoration: underline;
}

.subscribe {
  padding: 5px;

  color: #5a5a5a;

  background-color: #92cdff;
  background-image: repeating-linear-gradient(135deg, #fff 5px, #fff 10px, #92cdff 10px, #92cdff 15px, #fe9e90 15px, #fe9e90 20px);
}

.subscribe__inner {
  padding: 30px 25px 35px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe__text {
  margin: 0;
  margin-bottom: 40px;
  line-height: 1.25;
}

.subscribe__field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.subscribe__input {
  box-sizing: border-box;
  display: inline-block;

  width: 360px;

  padding: 12px;

  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.subscribe__input::placeholder {
  color: rgba(153, 153, 153, 0.5);
}
/**************** Contacts ***************/
.contacts {
  position: relative;

  margin-bottom: 0;
}

.contacts__img {
  display: block;
}

.contacts__data {
  position: absolute;
  top: 60px;
  right: 0;

  width: 255px;
  margin-right: 2.5%;
  padding: 15px 22px 30px;

  color: #323232;

  background-color: #fff;
  border-radius: 15px;
}

.contacts__text {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.42857;
}

.contacts__address {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 1.33333;
}

.contacts__phone {
  display: inline-block;
  margin-top: 5px;

  font-size: 18px;
  line-height: 1.22222;
}

.contacts__btn {
  display: block;
}

/*=============== CATALOG ===============*/
/**************** Breadcrumbs ***************/
.breadcrumbs {
  margin-bottom: 5px;
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs__item {
  position: relative;

  display: inline-block;
  margin-right: 10px;
  padding-right: 7px;
}

.breadcrumbs__item::after {
  content: "»";
  position: absolute;
  top: 1px;
  right: -5px;
}

.breadcrumbs__item--current::after {
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 1.142857;
}

.breadcrumbs__item--current .breadcrumbs__link {
  border-bottom: none;
  cursor: default;
}

.breadcrumbs__item--current .breadcrumbs__link:hover {
  color: #fff;
}

/**************** Page title ***************/
.catalog__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 35px;
  line-height: 1.17142;
}
/**************** Filters ***************/
.catalog__filters {
  max-width: 860px;
  margin-bottom: 40px;
}

.filters__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.filters__item {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  border: none;
}

.sort-filter {
  width: 190px;
}

.price-filter {
  width: 220px;
}

.fat-filter {
  width: 420px;
}

.fillers-filter {
  width: 705px;
}

.filters__btn-wrapper {
  width: 145px;
  margin-bottom: 15px;
}

.filters__caption {
  margin-bottom: 7px;
  padding-left: 15px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.142857;
}

.filters__field {
  box-sizing: border-box;
  height: 36px;
  padding: 5px 10px;

  text-align: center;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filters__field--sort-filter {
  position: relative;
}

.filters__field--sort-filter:hover .filters__select {
  color: #000;
}

.filters__field--sort-filter:hover .sort-filter__icon {
  border-top-color: #000;
}

.filters__select {
  width: 165px;

  color: #fff;

  background-color: transparent;
  border: none;
  cursor: pointer;

  -webkit-appearance: none;
          appearance: none;
}

.sort-filter__icon {
  position: absolute;
  top: 13px;
  right: 20px;

  width: 0;
  height: 0;

  border-width: 10px 5px 0 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;

  pointer-events: none;
}

.price-filter__range-controls {
  padding-top: 11px;
}

.price-filter__range-scale {
  position: relative;

  width: 175px;
  height: 4px;
  margin: 0 auto;

  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.price-filter__range-bar {
  position: absolute;
  right: 10%; /* через JS сделать одинаковую величину с .price-filter__toggle--max */
  left: 20%; /* через JS сделать одинаковую величину с .price-filter__toggle--min */

  height: 4px;

  background-color: rgba(255, 255, 255, 0.8);
}

.price-filter__toggle {
  position: absolute;
  top: -8px;

  width: 4px;
  height: 4px;

  background-color: #849d8f;
  border: 8px solid rgba(255, 255, 255, 1.0);
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0 ,0 ,0 , 0.1);
}

.price-filter__toggle--min {
  left: 20%; /* через JS сделать одинаковую величину с .price-filter__range-bar */
}

.price-filter__toggle--max {
  right: 10%; /* через JS сделать одинаковую величину с .price-filter__range-bar */
}

.price-filter__toggle:hover {
  margin-top: -2px;

  border-width: 10px;
}

.price-filter__toggle--min:hover {
  margin-left: -2px;
}

.price-filter__toggle--max:hover {
  margin-right: -2px;
}

.fat-filter__label,
.fillers-filter__label {
  position: relative;

  display: inline-block;
  margin-right: 15px;
  padding-left: 30px;

  cursor: pointer;

  user-select: none;
}

.fat-filter__label:last-child,
.fillers-filter__label:last-child {
  margin-right: 0;
}

.fat-filter__label::before,
.fillers-filter__label::before {
  content: "";
  position: absolute;

  width: 16px;
  height: 16px;

  background-color: transparent;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.7);

  transition: border-color 0.3s;
}

.fat-filter__label::before {
  top: 1px;
  left: 0;

  border-width: 4px;
  border-radius: 50%;
}

.fillers-filter__label::before {
  top: 4px;
  left: 0;

  border-width: 2px;
  border-radius: 3px;
}

.fat-filter__label:hover::before,
.fillers-filter__label:hover::before {
  border-color: rgba(255, 255, 255, 1.0);
}

.fat-filter__input:focus + .fat-filter__label::before,
.fillers-filter__input:focus + .fillers-filter__label::before {
  border-color: rgba(255, 255, 255, 1.0);
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.fat-filter__label::after,
.fillers-filter__label::after {
  content: "";
  position: absolute;

  display: none;

  transition: background-color 0.3s;
}

.fat-filter__label::after {
  top: 9px;
  left: 8px;

  width: 8px;
  height: 8px;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.fillers-filter__label::after {
  top: 9px;
  left: 5px;

  width: 8px;
  height: 4px;

  background-color: transparent;
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
  border-left: 3px solid rgba(255, 255, 255, 0.8);
  transform: rotate(-50deg);
}

.fat-filter__label:hover::after {
  background-color: rgba(255, 255, 255, 1.0);
}

.fillers-filter__label:hover::after {
  border-color: rgba(255, 255, 255, 1.0);
}

.fat-filter__input:checked + .fat-filter__label::after,
.fillers-filter__input:checked + .fillers-filter__label::after {
  display: block;
}

.fat-filter__input:disabled + .fat-filter__label::before,
.fat-filter__input.disabled + .fat-filter__label::before,
.fillers-filter__input:disabled + .fillers-filter__label::before,
.fillers-filter__input.disabled + .fillers-filter__label::before,
.fillers-filter__input:disabled + .fillers-filter__label::after,
.fillers-filter__input.disabled + .fillers-filter__label::after {
  border-color: rgba(255, 255, 255, 0.3);
}

.fat-filter__input:disabled + .fat-filter__label::after,
.fat-filter__input.disabled + .fat-filter__label::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.fat-filter__indicator,
.fillers-filter__indicator {
  font-weight: 500;
  line-height: 26px;
  vertical-align: middle;
}

.filters__btn {
  width: 100%;
  padding: 7px 25px;

  font-weight: 500;
  line-height: 1.125;
  color: #fff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  border-radius: 20px;
}

.filters__btn:hover {
  color: #323232;

  background-color: #fff;
  cursor: pointer;
}

.filters__btn:active {
  padding: 9px 27px;

  background-color: rgb(237, 237, 237);
  border: none;
  box-shadow: inset 0 2px 1px 0 #696969;
}

/**************** Products ***************/
.catalog__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__list .product-item {
  margin-bottom: 35px;
}

/**************** Pagination ***************/
.pagination {
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: right;
}

.pagination__item {
  display: inline-block;

  text-align: center;
}

.pagination__link {
  display: inline-block;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin-right: 15px;

  line-height: 25px;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;

  border-radius: 50%;
}

.pagination__link:last-child {
  margin-right: 0;
}

.pagination__link:not(.pagination__link--dir):hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.pagination__link:not(.pagination__link--dir):active {
  color: #000;

  background-color: #fff;
}

.pagination__item--disabled .pagination__link {
  color: rgba(255, 255, 255, 0.2);

  cursor: default;
}

.pagination__item--current .pagination__link {
  color: #000;

  background-color: #fff;
  cursor: default;
}

.pagination__item--current .pagination__link:hover {
  background-color: #fff;
}



.pagination__link--dir {
  padding-bottom: 2px;
}
/*=============== FOOTER ===============*/
.page-footer {
  margin-top: -100px;
  padding-top: 20px;
}

.page-footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5%;
}

/**************** Social ***************/
.social__list {
  margin: 0;
  padding: 10px 0 0;

  list-style: none;
}

.social__item {
  display: inline-block;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__icon {
  display: block;

  border: 2px solid #c2cec7;
  border-radius: 50%;

  fill: #e6ebe9;
}

.social__link:hover .social__icon {
  fill: #fff;
}

.social__link:active .social__icon {
  border-color: #dae2de;

  fill: #e9e9e9;
}

/**************** Extra navigation ***************/
.extra-nav {
  width: 330px;
}

.extra-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.extra-nav__item {
  width: 50%;
}

.extra-nav__item--suppliers {
  position: relative;

  font-weight: bold;
}

.extra-nav__icon {
  position: absolute;
  top: 6px;
  left: -20px;
}

.extra-nav__link {
  font-size: 13px;
  line-height: 1.3846;
}
/**************** Copyright ***************/
.copyright__img {
  width: 120px;
  height: 38px;
  margin-left: -7px;
}
.copyright__text {
  margin: 0;

  font-size: 12px;
  line-height: 1.5;
}

/*=============== MODAL ===============*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay--show {
  display: block;
}

.modal-feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;

  width: 427px;
  padding: 15px 25px 20px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.modal-feedback--show {
  display: block;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 18px;

  width: 18px;
  height: 18px;

  font-size: 0;

  background-color: transparent;
  border: 0;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 20px;
  height: 2px;

  background-color: #323232;
  cursor: pointer;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-feedback__caption {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 1.16666;
}

.modal-feedback__field {
  position: relative;
}

.modal-feedback__label {
  position: absolute;

  top: -17px;
  left: 13px;

  font-size: 12px;

  color: #2d89da;

  display: none;
}

.modal-feedback__label--show {
  display: block;
}

.modal-feedback__input,
.modal-feedback__text {
  display: block;
  box-sizing: border-box;
  padding: 12px;

  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.modal-feedback__input::placeholder,
.modal-feedback__text::placeholder {
  color: rgba(153, 153, 153, 0.5);
}

.modal-feedback__input {
  width: 267px;
  margin-bottom: 22px;
}

.modal-feedback__text {
  width: 100%;
  min-height: 150px;
  margin-bottom: 25px;

  resize: none;
}

.modal-feedback__field--btn {
  text-align: right;
}

/*=============== MEDIA QUERIES ===============*/
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
